<div ng-repeat="row in (devices.length/4 | array)" class="row">
	<div ng-repeat="device in devices.slice(4*$index, 4*$index + 4)" class="col-md-3">
		<div class="device" ng-class="getClass(device)" ng-click="clickOnDevice(device)">
			<div class="center-vertical">
				{{device.className}}
				<div ng-show="device.name">
					{{device.name}}
				</div>
				<div ng-hide="device.name">
					{{device.id}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 select-media" ng-if="showMedia(row)">
		<div class="controls align-center">
			<span class="glyphicon glyphicon-play pointer" ng-click="control('play')" ng-show="showControl('play')"></span>
			<span class="glyphicon glyphicon-pause pointer" ng-click="control('pause')" ng-show="showControl('pause')"></span>
			<span class="glyphicon glyphicon-stop pointer" ng-click="control('stop')" ng-show="showControl('stop')"></span>
		</div>
		<div ui-view>
		</div>

	</div>
</div>
